pyzipper
colorama
customtkinter
pyTelegramBotAPI
pyinstaller
telebot
pyttsx3
pyautogui
pynput
opencv-python
numpy
pycryptodomex
pywin32
sounddevice
soundfile
requests
Pillow
cryptography
psutil
requests
pyperclip
rarfile
bcrypt
phonenumbers
selenium
bs4
aiohttp
PyQt5
httpx